@import './tailwind.css';

.app {
  min-height: 100vh;
  color: #000000;
  background: #ffffff;
}

.app.dark {
  color: #ffffff;
  background: #121212;
}

button.btn[disabled],
button[btn][disabled] {
  @apply: text-white! bg-gray-700! opacity-50;
}
